.navbar-nav{
    margin-left: auto;
}

.navbar{
    background-color: black;
}

.topbar{
    position: sticky;
    top: 0;
    z-index: 999;
}
.navbar-brand,
.navbar-nav .nav-item .nav-link{
    
    color: white
}